{% extends "_base.html" %}
{% load static %}
{% block title %}Crear categoría | El Tordillo{% endblock title %}
{% block content %}
<div class="bg-white p-6 rounded border border-default shadow-xs">
  <h2 class="text-xl font-bold text-body">Crear producto</h2>
  {% include "core/includes/layouts/_breadcrumbs.html" %}
  <hr class="mt-2 mb-6 border-default" />
  <form method="post">
    {% csrf_token %}
    <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
        <label for="nombre" class="block mb-2 text-sm font-medium text-body">
          Nombre de la categoría
        </label>
        <input type="text" id="nombre" name="nombre" required placeholder="Alimento Para Pollo De Postura" class="w-full bg-gray-50 border border-gray-300 text-body shadow-xs
                 placeholder:text-gray-300 text-sm rounded p-3
                 focus:ring-2 focus:ring-gray-200 focus:outline-none" />
      </div>
    </div>
    <div class="flex justify-end">
      <button type="submit" class="text-white bg-primary-600 border border-transparent
               hover:bg-primary-700 shadow-xs font-medium leading-5
               rounded text-sm px-4 py-3 transition-colors">
        Guardar producto
      </button>
    </div>
  </form>
</div>
{% endblock content %}