{% extends "_base.html" %}
{% load static %}
{% block title %}Crear producto | El Tordillo{% endblock title %}
{% block content %}
<main class="container-primary">
  <div class="container-secondary">
    <h2 class="module-title">Crear producto</h2>
    {% include "core/includes/layouts/_breadcrumbs.html" %}
    <hr />
    <form method="post">
      {% csrf_token %}
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <div>
          <label for="nombre" class="label">Nombre del producto</label>
          <input type="text" id="nombre" name="nombre" placeholder="Alimento Para Pollo" class="input" required />
        </div>
      </div>
      <div class="flex justify-end gap-2">
        <a href="{% url 'home' %}" type="button" class="btn-secondary">Cancelar</a>
        <button type="button" class="btn-primary">Guardar</button>
      </div>
    </form>
  </div>
</main>
{% endblock content %}